@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&family=Reddit+Mono:wght@200..900&display=swap');

*{
    font-family: "Reddit Mono", monospace;
}

.container{
    max-width: 500px;
    padding: 40px, 0, 40px, 0;
}
